<!doctype html>
<html>
    <body>
        <p>Dear {{ user.username }},</p>
        <p>
            To reset your password
            <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
                click here
            </a>.
            <!-- 
                - url_for() returns relative URLs by default (no domain name etc., only the remaining part like /index or /user/<username>)
                - Links generated in webpages can just use relative URLs because the web browser complete the URL by taking the missing 
                parts from the URL in the address bar, but when we access those links from email that doesn't work, so we need 
                _external=True to generate complete URLs
            -->
        </p>
        <p>Alternatively, you can paste the following link in your browser's address bar:</p>
        <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
        <p>If you have not requested a password reset simply ignore this message.</p>
        <p>Sincerely,</p>
        <p>The Microblog Team</p>
    </body>
</html>